.bgbody{
  background-color: #fffff4;
}
.photo{
  text-align: left;
  font-size: large;
}
.table1{
  position: relative;
  left: 1.2em;
  top: auto;
}
.tip{
  position: relative;
  left: 4.5em;
  top: auto;
}
.form1 {
text-align: center;
}
.foot{
  margin: 20px;
    background-color: #fff;
    border: 1px solid #000000;
}
#tr1{
  width: 70em;
}
#tr2{
  background-color: gray;
}

#navigator{
  background-color: gray;
  width:100em;
  height:7em;
  position: relative;

}
#navul{
  position: absolute;
  right: 10em;
  top:.5em;
}
#temp{
  position: relative;
  left: -1em;
}
.aleft{
  position: relative;
  left: 1.2em;
}
.background{margin: 20px;
  background-color: #fff;
  border: 1px solid #000000;
}
.background h1,.background h2{
  left: 1em;
  position: relative;
  top: 0em;
}
.au{
  color: gray;
  font-size: small;
}
.background p{
  font-family: cursive;
  position: relative;
  left: 1.2em;
  top: auto;
  font-size: large;
}
.background img{
  position: relative;
  left: 1em;
  top: auto;
}
